<div class="ui-grid-col-4">
<!--<p-menubar [model]="items">-->
  <!--<input type="text" pInputText placeholder="Search">-->
  <!--<button pButton label="Logout" icon="fa-sign-out"></button>-->
<!--</p-menubar>-->
<p>Header component</p>
  <h1>Angular Router</h1>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/about" routerLinkActive="active">Heroes</a>
  </nav>

  <router-outlet></router-outlet>
  <!--<app-home>prachi </app-home>-->
  <!--<app-about>goel</app-about>-->
</div>
